@use "../variables/variables";
@use "../mixin/mixin";

.about-download {
  margin-top: 15rem;
  padding-inline: calc(var(--col) * 3 + 5rem);
}
.about-download__header {
}
.about-download__heading {
  font-size: 2.6rem;
}
.about-download__body {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5rem;
  justify-content: start;
}

@media (max-width: 780px) {
  .about-download {
    margin-top: 6.4rem;
    padding-inline: calc(var(--col) * 0 + 2rem);
  }
  .about-download__header {
  }
  .about-download__heading {
    font-size: 1.8rem;
  }
  .about-download__body {
    margin-top: 3.2rem;
    grid-template-columns: auto;
    row-gap: 2.4rem;
    justify-content: stretch;
  }
}
