@use "../variables/variables";
@use "../mixin/mixin";

.about-prepare {
}

.about-prepare .header-level2 {
  display: grid;
  justify-items: center;
}

.about-prepare__body {
  margin-top: 7.8rem;
  padding-inline: calc(var(--col) * 3 + 5rem);
  display: grid;
  row-gap: 10rem;
}

@media (max-width: 780px) {
  .about-prepare {
    margin-bottom: 15rem !important;
  }

  .about-prepare .header-level2 {
    display: grid;
    justify-items: center;
  }

  .about-prepare__body {
    margin-top: 5rem;
    padding-inline: calc(var(--col) * 0 + 2rem);
    row-gap: 5rem;
  }
}
