@use "../variables/variables";
@use "../mixin/mixin";

.common-pagemv.common-pagemv--aotosora {
  padding-top: 13rem;
}

.common-pagemv {
  padding-top: 18rem;
}

.common-pagemv__header {
  display: grid;
  justify-items: center;
  row-gap: 2.4rem;
}

.common-pagemv__title {
  img {
    object-fit: contain;
  }
}

.common-pagemv__title.common-pagemv__title--aotosora {
  display: grid;
  row-gap: 2.4rem;
  justify-items: center;
}

.common-pagemv__titleRow.common-pagemv__titleRow--aotosora1 {
  width: 12.4rem;
  img {
    display: block;
  }
}
.common-pagemv__titleRow.common-pagemv__titleRow--aotosora2 {
  width: 15.5rem;
  aspect-ratio: 155/65;
}

.common-pagemv__inner {
  margin-top: 5rem;
}

.common-pagemv.common-pagemv--aotosora .common-pagemv__inner {
  margin-top: 6.4rem;
}

.common-pagemv__mainview {
  // aspect-ratio: 1366/844;
}

@media (max-width: 780px) {
  .common-pagemv.common-pagemv--aotosora {
    padding-top: 7.8rem;
  }

  .common-pagemv {
    padding-top: 10rem;
  }

  .common-pagemv__title.common-pagemv__title--aotosora {
    row-gap: 0.8rem;
  }

  .common-pagemv__titleRow.common-pagemv__titleRow--aotosora1 {
    width: 7.7rem;
  }
  .common-pagemv__titleRow.common-pagemv__titleRow--aotosora2 {
    width: 9.5rem;
  }

  .common-pagemv__inner {
    margin-top: 3.2rem;
  }

  .common-pagemv__mainview {
    aspect-ratio: 360/240;
  }
  .common-pagemv__header {
    row-gap: 0.8rem;
  }
  .common-pagemv__title {
    line-height: 1;
  }
  .common-pagemv__title.common-pagemv__title--gardens {
    max-height: 3.1rem;
  }
  .common-pagemv__sub {
    font-size: 1.3rem;
  }
}
