@use "../variables/variables";
@use "../mixin/mixin";

.content-philosophy {
  max-width:60rem;
  display: grid;
  margin-inline: auto;
}

.content-philosophy__header {
  display: grid;
  justify-items: center;
}

.content-philosophy__heading {
  font-size: 4.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.content-philosophy__body {
  margin-top: 10rem;
  display: grid;
  row-gap: 4rem;
  padding-left: 8rem;
}

.content-philosophy__text {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 2.5;
}
.content-philosophy__text span.word{
  display: inline;
}

@media (max-width: 780px) {
  .content-philosophy__header{
  }
  .content-philosophy__heading {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 0.18em;
    line-height: 1.5;
  }
  .content-philosophy__body{
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    row-gap: 3.2rem;
  }
  .content-philosophy__text{
    font-size: 1.3rem;
  }

}
