@use "../variables/variables";
@use "../mixin/mixin";

.content-about {
  max-width: 78rem;
  display: grid;
  justify-items: center;
  margin-inline: auto;
}

.content-about__header {
  display: grid;
  justify-items: center;
}

.content-about__heading {
  display: grid;
  row-gap: 1.6rem;
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.5;
  justify-items: center;
}

.content-about__heading-row2.content-about__heading-row2--yamabiko {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.3rem;
}

.content-about__body {
  margin-top: 8rem;
}

.content-about__text {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 2.5;
}

.content-about__text span.word {
  display: inline;
}

@media (max-width: 780px) {
  .content-about {
  }
  .content-about__heading {
    font-size: 2.2rem;
    row-gap: 0;
    text-align: center;
    letter-spacing: 0.18em;
  }
  .content-about__body {
    margin-top: 5rem;
  }
  .content-about__text {
    font-size: 1.3rem;
  }
}
