@use "../variables/variables";
@use "../mixin/mixin";

.flow-system {
  padding-bottom: 12rem;
  overflow: hidden;
}

.flow-system .header-level2 {
  display: grid;
  justify-items: center;
}
.flow-system__figure {
  width: 100%;
  max-width: 106rem;
  overflow: hidden;
}
.flow-system__image {
  aspect-ratio: 2122/1199;
  width: 100%;
  img {
    object-fit: contain;
  }
}

.flow-system__body {
  margin-top: 15rem;
  display: grid;
  justify-items: center;
}

.flow-system .list-annotation {
  margin-top: 8rem;
  max-width: 102rem;
}

@media (max-width: 780px) {
  .flow-system {
    padding-bottom: 8rem;
  }
  .flow-system .list-annotation {
    margin-top: 5rem;
  }
  .flow-system__figure {
    width: 100vw;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
    padding-left: calc(50vw - 50%);
    position: relative;
    z-index: 0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .flow-system__figureScroller {
    position: sticky;
    bottom: 0;
    left: 0rem;
  }
  .flow-system__figureArrow {
    position: relative;
    z-index: 0;
    width: 100%;
    &::after {
      content: attr(data-text);
      color: var(--gray-1);
      font-size: 1.3rem;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      animation-name: arrowMove;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
      @keyframes arrowMove {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(1.2rem);
        }
      }
    }
  }
  .flow-system__image {
    width: fit-content;
    aspect-ratio: 800/500;
    min-width: calc(106rem / 1.5);
  }
  .flow-system__body {
    margin-top: 5rem;
    padding-inline: 2rem;
  }
}
