@use "../variables/variables";
@use "../mixin/mixin";

.gardens-gallery {
  margin-top: 10rem;
  position: relative;
  z-index: 0;
}

@media (max-width: 780px) {
  .gardens-gallery {
    margin-top: 5rem;
    padding-inline: 2rem;
  }
  .gardens-gallery .panel-images {
    // display: none;
  }
}
