@use "../variables/variables";
@use "../mixin/mixin";

.panel-reservation {
  display: block;
  padding-top: 10.6rem;
  padding-bottom: 10.4rem;
  transition-timing-function: ease-out;
  transition-duration: 0.4s;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: var(--white);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }
}

.panel-reservation.panel-reservation--reservation {
  background-image: url(/images/aotosora/aotosora-reservatio-bg.webp);
}

.panel-reservation__inner {
  display: grid;
  grid-column-gap: 8rem;
  grid-template-columns: 18.5rem 59.7rem;
  justify-content: center;
  align-items: center;
}

.panel-reservation__thumb {
  width: 18.5rem;
  aspect-ratio: 1/1;
}

.panel-reservation__header {
  display: grid;
  row-gap: 3.2rem;
}

.panel-reservation__lead {
  font-size: 5rem;
  line-height: 1;
  letter-spacing: 0.06em;
  font-size: 5.8rem;
}

.panel-reservation__text {
  font-size: 2.2rem;
  line-height: 1.5;
  letter-spacing: 0.5em;
  position: relative;
  z-index: 0;
}

.panel-reservation__arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
}
.panel-reservation__lead > span > span,
.panel-reservation__text > span > span,
.panel-reservation .button-default,
.panel-reservation .button-default::after {
  transition-timing-function: ease-out;
  transition-duration: 0.4s;
}

//with splitting.js
.panel-reservation__lead .char:nth-of-type(1) {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: 0.06em;
}

.panel-reservation__title {
  position: relative;
  z-index: 0;
  display: block;
  padding-right: 3.2rem;
  margin-top: 5rem;
  font-size: 2.6rem;
  line-height: 1.5;
}

.panel-reservation__arrow {
  display: grid;
  svg {
    path {
      transition-duration: 0.4s;
      transition-timing-function: ease-out;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .panel-reservation:hover {
    opacity: 1;
    &::after {
      opacity: 0;
    }
  }

  .panel-reservation:hover .panel-reservation__arrow {
    svg {
      path {
        fill: var(--white);
      }
    }
  }

  .panel-reservation:hover .panel-reservation__lead > span > span,
  .panel-reservation:hover .panel-reservation__text > span > span {
    color: var(--white);
  }
  .panel-reservation:hover .button-default {
    border-color: var(--white);
    &::after {
      background-color: var(--white);
    }
  }
}

@media (max-width: 780px) {
  .panel-reservation {
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-inline: 2rem;
    &::after {
      opacity: 0;
    }
  }
  .panel-reservation__thumb {
    display: none;
  }

  .panel-reservation__header {
    row-gap: 3.2rem;
  }

  .panel-reservation__inner {
    grid-template-columns: auto;
    justify-content: stretch;
  }

  .panel-reservation__lead {
    font-size: 3.2rem;
    letter-spacing: 0.06em;
  }

  //with splitting.js
  .panel-reservation__lead .char:nth-of-type(1) {
    font-size: 4.2rem;
    line-height: 1;
    letter-spacing: 0.06em;
  }

  .panel-reservation__text {
    font-size: 1.3rem;
  }

  .panel-reservation .panel-reservation__lead > span > span,
  .panel-reservation .panel-reservation__text > span > span {
    color: var(--white);
  }
  .panel-reservation .button-default {
    border-color: var(--white);
    &::after {
      background-color: var(--white);
    }
  }

  .panel-reservation__arrow {
    svg {
      path {
        fill: var(--white);
      }
    }
  }

  .panel-reservation.panel-reservation--reservation {
    background-image: url(/images/aotosora/aotosora-reservatio-bg-sp.webp);
  }
}
