@use "../variables/variables";
@use "../mixin/mixin";

.footer {
  position: relative;
  z-index: 0;
  padding-top: 10rem;
  padding-right: 13.3rem;
  padding-bottom: 13.3em;
  padding-left: 13.3rem;
  background-color: var(--lightgray-1);
}

.footer__inner {
}

.footer__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.footer__logo {
  margin-top: 1.6rem;
  width: 30.6rem;
  aspect-ratio: 306/70;
}

.footer .fnav {
  margin-top: 8rem;
}

.footer .fnav-links {
  margin-top: 2.4rem;
}

.footer .privacy-policy {
  position: absolute;
  bottom: 4.8rem;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.footer .copyright {
  position: absolute;
  bottom: 2.4rem;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

@media (max-width: 780px) {
  .footer {
    padding: 5rem 0 12rem;
  }

  .footer__header {
    grid-template-areas: "contact" "logo";
    row-gap: 15rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .footer__logo {
    grid-area: logo;
    width: 20.6rem;
  }
  .footer .footer-contact {
    grid-area: contact;
  }

  .footer .fnav-links {
    margin-top: 0;
  }

  .footer .fnav {
  }

  .footer .privacy-policy {
    font-size: 1rem;
  }

  .footer .copyright {
    font-size: 1rem;
    line-height: 2;
  }
}
