@use "../variables/variables";
@use "../mixin/mixin";

.section{
  margin-top: 25rem;
}

.section:last-of-type{
  margin-bottom: 20rem;
}

@media ( max-width : 780px) {
  .section{
    margin-top: 15rem;
  }
}